# Ambiente virtual
.venv/
venv/
env/
.idea/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de credenciais 
credenciais.py
.env

# Logs
*.log

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes / cobertura
.coverage
htmlcov/

# Build / dist
build/
dist/
*.egg-info/
